# Data Files
classification/02-k-nearest/Social_Network_Ads.csv
classification/03-support-vector-machine/Social_Network_Ads.csv
classification/04-kernel-svm/Social_Network_Ads.csv
classification/05-naive-bayes/Social_Network_Ads.csv
classification/06-decision-tree-classification/Social_Network_Ads.csv
