# Data Files
classification/02-k-nearest/Social_Network_Ads.csv
classification/03-support-vector-machine/Social_Network_Ads.csv
classification/04-kernel-svm/Social_Network_Ads.csv
regression/02-simple-linear-regression/linear-regression.png
